$base-color: #f6f0e6;
$base-bergundy: #81163a;
$base-teal: #0c787a;
$base-yellow: #ffb141;
$base-orange: #f17338;
$base-red: #c32227;
$img-container-color: #d9c8ae;
$option-color: #4b0d22;
$default-font-color: #66112d;
$price-color:#921b42;